* {
    box-sizing: border-box;
}

html, body {
    @include default-font;   //set i mixins.scss
    margin: 0; 
   
}



.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

//mixin del- for desktop //
    @include md {
        max-width: $breakpoint-md-max-width;
    }
    @include lg {
        max-width: $breakpoint-lg-max-width;
    }
    @include xl {
        max-width: $breakpoint-xl-max-width;
    }
    @include xxl {
        max-width: $breakpoint-xxl-max-width;
    }
}
// kan försätta style alla object i samma style for hela sida: ex
// div 
//span
//hr
//table 
                   