@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*   font-family: 'Roboto', sans-serif;  */
/*   font-family: 'Roboto Slab', serif; */

/* mobile first*/
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    font-family:'Roboto', sans-serif ;
    line-height: 1.5;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* tablets, desktop*/
@media(min-width: 768px){.container{ max-width: 720px;}} 
@media(min-width: 990px){ .container{max-width: 920px;}}  
@media(min-width: 1200px){.container{max-width: 1120px;}}
@media(min-width: 1400px){.container{max-width: 1320px;}}
a{
    color: #2baaec;
    text-decoration: none;
}
a:hover{
    color: #25e6c8;
}
.btn{
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

/************go back arrow**********/
#back-to-top {
    position: fixed;
    right: auto;
    bottom: 15%;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
}
.bg-blue {
    background-color: #2baaec;
    color: white;    }
.bg-blue:hover {
    background-color: #25e6c8;    }    

    /* topmenu*/
#topmenu{
    display: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
@media(min-width:768px){#topmenu{display: block;}}
#topmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#topmenu .hours{    flex: 2; }
#topmenu .hours i{
   margin-right: 0.5rem;  
   color: #2baaec;
   font-size: 1.2rem;
}
#topmenu .socialmedia{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;     
}
#topmenu .socialmedia li{    margin-left: 1.2rem;}


/******* mainmenu **********/
#mainmenu {
    font-family: 'Roboto Slab', serif; 
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    position: sticky;
    top: 0;              /* top fastnad*/
    background-color: #ffffff;    
}
@media (min-width: 768px) { #mainmenu { padding-top: 2rem; padding-bottom: 2rem;} }
#mainmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mainmenu  .logo {    height: 50px;}
@media (min-width: 768px) { #mainmenu .logo { height: 60px; }}
#mainmenu  .menu {
    flex: 2;  
    display: flex;
    justify-content: flex-end;
}
#mainmenu  .menu ul {
    display: none;
    list-style: none;
    margin: 0;
}
@media (min-width: 768px) { #mainmenu  .menu ul { display: flex; } }

#mainmenu .menu ul li {    margin-left: 1.3rem;}
#mainmenu .menu ul li a {    color: #363636;}
#mainmenu .container .menu ul li a:hover {    color: #25e6c8;}
#mainmenu .menu button {
    font-size: 1.8rem; 
    padding: 0;   
}
@media (min-width: 768px) { #mainmenu .menu button { display: none;}}




/*********** showcase *******/

#showcase {    
    font-family: 'Roboto', serif;    
    background-color: #DEDEDE;  
    font-size: 1.1rem;     
}
#showcase .container {
    display: content;
    justify-content: center;    
    align-items: center;     
}
@media(min-width:768px){
#showcase .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    align-items: center;    
}}
#showcase .logowomen {    
    display: none; 
    object-fit: cover;   
}
@media(min-width:768px){
    #showcase .logowomen{display: contents;}   
}
#clinic {    
    padding-left: 1rem;  
    width: auto;
}
#showcase .btn{
    background-color: #25e6c8;
    display: inline-flex;
    color: #ffffff;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 1rem 3rem ;  
    transition-duration: 0.5s; 
}
#clinic .btn-hov:hover    {   
    background-color:#2baaec ;   
}
#text h1{    
    font-size: 3rem;
    font-family: 'Roboto Slab', serif; 
    font-weight: lighter;    
}
#text p{
    text-align: center;
}
#showcase img {
    margin-top: 2rem; 
    height:  auto; 
    width: auto;
    padding: 0; 
    object-fit: cover;   
  }

/************ about us**********/

#aboutus {
    font-family: 'Roboto Slab', serif; 
    padding-top: 1rem;    
    background-color: #ffffff;     
}
#aboutus .container {
    display: contents;
    justify-content: center;    
    align-items: center;     
}
@media(min-width:768px){
    #aboutus .container {
        display: grid;
        justify-content: center;
        grid-template-columns: 60% 40%;
        align-items: center;         
    }}
#aboutus .logomen{
        display: none; 
        object-fit: cover; 
    } 
@media(min-width:768px){
        #aboutus .logomen{display: contents;}  }   
.grid-container  { 
    display: grid;    
    width:auto;        
    align-items: center;       
    justify-content: start;   
    gap: 1rem;   
    grid-template-columns:  auto auto auto;    
    grid-template-areas:    " tt tt tt "              
                            " t1 t2 t3 " ;
}
#about-text {    grid-area: tt;  }
#box-1      {    grid-area: t1;  }
#box-2      {    grid-area: t2;  }
#box-3      {    grid-area: t3;  }
.row {
    display: inline-flex;    
    gap: 1.5rem;      
  }
#aboutus img {
        margin-top: 1rem; 
        height:  auto; 
        width: auto;
        padding: 0; 
        object-fit: cover;   
      }
#reklama  h1{        
        font-size: 2.2rem;
        font-family: 'Roboto Slab', serif; 
        font-weight: lighter;  
        border-bottom: 2px solid #25e6c8;  
       
    }
#reklama  .box h2{
        font-size: 2rem;    
        color: #2baaec;  
             
    }
/******** services **********/

.service-box {
    background: #ffffff;
}
.service-box h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: normal;
}
#services {
    background: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem; 
}
/* mobile 1 var  */
    
#services .container {     
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    font-size: 18px;   
    gap: 1rem;
    grid-template-columns:  1fr; 
    grid-template-areas: "ti "
                         "b1 "
                         "b2 "
                         "b3 "
                         "b4"
                         "b5"
                         "b6";}

@media (min-width: 600px) { 
    #services .container { 
        grid-template-columns: 1fr  1fr; 
        grid-template-areas:    "ti ti "
                                "b1 b2 "
                                "b3 b4 "
                                "b5 b6 ";    }}
@media (min-width: 972px) { 
    #services .container { 
        grid-template-columns:  1fr 1fr 1fr; 
        grid-template-areas:    "ti ti ti"
                                "b1 b2 b3"
                                "b4 b5 b6";    }}
#service-title {
    grid-area: ti;
    border-bottom: 2.5px  solid  #25e6c8   ;
}
#service-box-1 {    grid-area: b1;}
#service-box-2 {    grid-area: b2;}
#service-box-3 {    grid-area: b3;}
#service-box-4 {    grid-area: b4;}
#service-box-5 {    grid-area: b5;}
#service-box-6 {    grid-area: b6;}

#services img {
    margin-top: 3rem;          
  }

  /***** appointment ****/
#appointment {    
    background-color: #2BAAEC;
    position: sticky;
    bottom: 0;              
}
#appointment .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7f7f7;
    padding: 0.8rem;
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
}
@media (min-width: 630px) {
#appointment .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7f7f7;
    padding: 2rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
}}
#fot .btn{
    background-color:#ffffff ;
    display: inline-flex;
    color: #2BAAEC ;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    font-size: 0.9rem;
    padding: 0.8rem 2rem ;  
    font-weight: bold; 
    transition: all 0.5s ease-in-out; 
}
#fot .btn-bl:hover {   
    background-color: #25e6c8; 
    border: 1px solid white;  
    color: white;
}

 /***** fotter ****/

#fotter {   
    background-color: #31a3e0;
    text-align: center;
    padding: 0.1rem;
    font-size: 0.6rem;
    color: #f7f7f7;   
}
@media (min-width :600px ){
     #fotter {   
    font-size: 0.8rem;  
}} 
