@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*   font-family: 'Roboto', sans-serif;  */
/*   font-family: 'Roboto Slab', serif; */
$font-primary: serif;
$font-secondary: sans-serif;
//utilities
$spaceamounts: (0,1,2,3,4,5);